<%- include('./partials/header') -%>
<head>
    <link rel="stylesheet" href="/public/css/login.css">
</head>
    <div class="container m-2 text-center">
        <h1>OOPS!</h1>
        <p>Something went wrong.</p>
    </div>
    

<%- include('./partials/footer') -%>