<%- include('./partials/header') -%>
<head>
    <link rel="stylesheet" href="/public/css/login.css">
</head>
    <div class="container m-2">
        <h1>An error has occured</h1>
        <p><%= %></p>
    </div>
    

<%- include('./partials/footer') -%>