<%- include('./partials/header') -%>
<head>
    <link rel="stylesheet" href="/public/css/login.css">
</head>
<body style="background-color: black;">
    <div class="container mt-5 p-2">
        <div class="offset-1 col-10 col-md-6 offset-md-3 align-self-center">
            <h2 class="text-white mb-4">Sign In</h2>
            <form method="POST" action="/auth/login">
                <input class="form-control form-control-lg" type="email" placeholder="Email" name="email">
                <br>
                <input class="form-control form-control-lg" type="password" placeholder="Password" name="password">
                <br><br>
                <button type="submit" class="btn btn-danger btn-lg btn-block">Sign In</button>
            </form>
        </div>
    </div>
</body>
<%- include('./partials/footer') -%>